.product__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  border-radius: var(--border-radius-3);
  margin: 200px 0px;
}

.product__left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-3);
}

.product__image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--CARD-800);
}

.product__image:hover {
  box-shadow: var(--box-shadow);
}

.product__image img {
  border-radius: var(--border-radius-5);
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.product__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;
}

.product__right h1 {
  font-size: 22px;
  font-weight: 400;
  color: var(--CARD-500);
  margin: 15px 0px;
}

.product__right p {
  font-size: 14px;
  font-weight: 400;
  color: var(--CARD-600);
  margin: 15px 0px;
}

.product__right button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: var(--border-radius-3);
  background-color: var(--accent);
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px;
  cursor: pointer;
  text-transform: capitalize;
  width: 228px;
  height: 40px;
}
@media screen and (max-width: 700px) {
  .product__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .product__container {
    grid-template-columns: 1fr;
    margin: 100px 0px;
  }

  /* .product__image {
    display: none;
  } */
}
