.product__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  border-radius: var(--border-radius-3);
  margin: 200px 0px;
}

.product__left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-3);
}

.product__image {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--CARD);
  box-shadow: var(--box-shadow);

  img {
    border-radius: var(--border-radius-5);
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
  }
}

.product__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 50px;

  h1 {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-dark-light);
    margin: 15px 0px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark-light);
    margin: 15px 0px;
  }

  button {
    border: none;
    outline: none;
    border-radius: var(--border-radius-5);
    background-color: var(--accent);
    font-size: 14px;
    font-weight: 400;
    color: var(--PURE-WHITE);
    text-transform: capitalize;
    margin: 20px 0px;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-family: var(--font-family);

    &:hover {
      background-color: var(--accent-light);
    }
  }
}

@media screen and (max-width: 700px) {
  .product__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .product__container {
    grid-template-columns: 1fr;
    margin: 100px 0px;
  }
}
