.changelog {
  padding: 10px 20px;
  max-width: 1400px;
}

.changelog_container {
  display: grid;
  grid-template-columns: 235fr 641fr 365fr;
  gap: 20px;
}

.changelog_container > div {
  border-radius: var(--border-radius-5);
}

.changelog_container > div:nth-child(2) {
  background-color: var(--CARD);
}

.changelog_container > div:nth-child(3) {
  background-color: var(--CARD);
}

@media screen and (max-width: 700px) {
  .changelog_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .changelog_container {
    grid-template-columns: 1fr;
  }

  .changelog_container > div:nth-child(1) {
    display: none;
  }

  .changelog_container > div:nth-child(3) {
    display: none;
  }
}
