.changelog_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  margin-top: 5px;
}

.changelog_item_left {
  margin-right: 10px;
}

.changelog_item_left p {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: var(--border-radius-3);
  text-transform: capitalize;
}

.changelog_item_middle {
  max-width: 400px;
}

.changelog_item_middle p {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--CARD-500);
}

.changelog_item_right {
  font-size: 10px;
  text-transform: lowercase;
  color: var(--CARD-600);
}

/* width */
.changelog_content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.changelog_content::-webkit-scrollbar-track {
  background: var(--CARD-800);
}

/* Handle */
.changelog_content::-webkit-scrollbar-thumb {
  background: var(--CARD-700);

  border-radius: var(--border-radius-5);
}

/* Handle on hover */
.changelog_content::-webkit-scrollbar-thumb:hover {
  background: var(--CARD-600);
}
