.message__container {
  width: 85%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.message {
  border-radius: var(--border-radius-5);
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: var(--text-dark-superlight);
}
