.footer {
  padding: 30px;
  background-color: var(--CARD-800);
  display: flex;
  justify-content: center;
}

.footer__container {
  width: min(1400px, 100%);
}

.footer__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--CARD-900);
  margin: 10px 20px;
  cursor: pointer;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 20px;
}

.footer__col {
  padding: 10px 20px;
  min-height: 200px;
}

.footer__col > h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.footer__col > p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-dark-light);
  margin-bottom: 8px;
  text-transform: capitalize;
  cursor: pointer;
}

.footer__contact {
  padding: 10px 20px;
}

.footer__contact h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.footer__contact p {
  font-size: 10px;
  font-weight: 500;
  color: var(--text-dark-light);
  margin-bottom: 8px;
  text-transform: capitalize;
}

.contact__links {
  display: flex;
  margin-top: 20px;
}

.contact__links div {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--CARD-600);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .footer__row {
    grid-template-columns: 1fr 1fr;
  }
}
