.course {
  padding: 10px 20px;
  max-width: 1400px;
  width: 100%;
}

.course h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
  padding: 0px 20px;
}

.course p {
  font-size: 12px;
  color: var(--text-dark-light);
  padding: 0px 20px;
}

.course__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px 20px;
}

.course__card {
  /* width: 90%; */
  /* height: 277px; */
  padding: 10px;
  border-radius: 10px;
  background-color: var(--CARD);
  box-shadow: var(--box-shadow);
  transition: all 0.1s ease;
  display: flex;
  flex-direction: column;
}

.course__card:hover {
  transform: scale(1.005);
}

.course_img {
  width: 100%;
  height: 100px;
  background-color: var(--IMAGE-DARK);
  border-radius: 10px;
}

.course__card h1 {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  margin-top: 15px;
  padding: 0px 10px;
}

.course__card p {
  font-size: 10px;
  font-weight: 400;
  color: var(--text-dark-light);
  padding: 10px 10px;
}

.course__price {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}

.course__people {
  display: flex;
  padding-left: 8px;
}

.course__people div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--CARD-700);
  margin-left: -8px;
}

.course__price h3 {
  font-size: 16px;
  color: var(--text-dark-light);
}

@media screen and (max-width: 700px) {
  .course {
    padding: 0px;
  }

  .course__card {
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 1000px) {
}
